# Overlay Filesystem
CONFIG_OVERLAY_FS=y

# NV LSTP host module
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y

CONFIG_USB_LSTP_HOST=y

CONFIG_SPI_SPIDEV=y
CONFIG_USB_LSTP_HOST_SPI_SPIDEV=y

CONFIG_DEBUG_FS=y
CONFIG_USB_MON=y
