// SPDX-License-Identifier: GPL-2.0+
/*
 * DTS file for FVP model of Axiado AX3005 SoC Evaluation board
 */

/dts-v1/;

#include "ax3005_evk.dts"

/ {
	model = "Axiado AX3005 FVP";
};

&gpio4 {
	compatible = "cdns,gpio-r1p02";

	gpio-line-names =
	/*128-135*/       "","","","","","","","",
	/*136-143*/       "","","","","","","","",
	/*144-151*/       "","","","","","","","",
	/*152-159*/       "pwr_req","pgood_ok","","","","","","";
};

&usb2_0 {
	compatible = "axiado,ax3000-udc";
};
