# Ethernet Control Model
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_ECM=y

# Low-Speed Transport Protocol, LSTP bridge
CONFIG_USB_LSTP=y

# NV LSTP host module
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y

CONFIG_USB_LSTP_HOST=y

CONFIG_SPI_SPIDEV=y
CONFIG_USB_LSTP_HOST_SPI_SPIDEV=y

CONFIG_DEBUG_FS=y
CONFIG_USB_MON=y

# NV LSTP device module
## Use serial device kernel module binding lstp bridge uart and tty
CONFIG_SERIAL_DEV_BUS=y

## LSTP VUART function
CONFIG_SERIAL_CORE=y

## NV LSTP IPMI channel, SSIF
### host
CONFIG_IPMI_HANDLER=m
CONFIG_IPMI_DEVICE_INTERFACE=m
CONFIG_IPMI_SSIF=m

### device
CONFIG_SSIF_IPMI_BMC=y
