[Unit]
Description = Base FVP Platform Initialization
Wants = xyz.openbmc_project.State.BMC.service
After = xyz.openbmc_project.State.BMC.service
Wants = xyz.openbmc_project.State.Host@0.service
After = xyz.openbmc_project.State.Host@0.service

[Service]
Restart=no
RemainAfterExit=true
Type=oneshot
ExecStart=/usr/sbin/fvp-platform-init.sh

[Install]
WantedBy=multi-user.target

