[Unit]
Description = MCTP Serial binding
After=obmc-host-already-on@0.target
BindTo=obmc-host-already-on@0.target

[Service]
Restart=always
RestartSec=30s
RemainAfterExit=true
ExecStart=/usr/sbin/mctp-binding.sh
